
header{
    background-color: #2c3039;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 10px 0;
}

ul.ul-show{
    text-align: right;
}

.dropdown-header{
    padding: 0;
    margin-right: 20px;
}

.dropdown-menu{
    padding-right: 50px;
}

.container{
    padding: 10px 0;
    margin-left: 60px;
    margin-right: 0;
}

nav.navbar{
    padding: 0;
}

.btn{
    margin: 0 10px;
}

.btn-cabecalho{
    margin: 0;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.msg-success{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
.msg-error{
    background-color: #e68892;
    color: #c22020;
    border: 1px solid #e68892;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.form-group {
    margin-bottom: 25px;
    width: 30%;
}

.form-control {
    font-size: 20px;
}

.btn-voltar{
    margin-left: 0;
    margin-bottom: 20px;
}

.table{
    margin-top: 20px;
}